![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isnâ€™t just important for college students, itâ€™s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas youâ€™ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

### Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Your turn

Good luck and have fun!

### Python

#### Problem 1: Write a function

**Task** 

You are given the year, and you have to write a function to check if the year is leap or not.

Note that you have to complete the function and remaining code is given as template.

**Input Format**

Read y, the year that needs to be checked.

**Output Format**

Output is taken care of by the template. Your function must return a boolean value (True/False)

In [0]:
# https://www.hackerrank.com/rest/contests/master/challenges/write-a-function/hackers/Danlta1402/download_solution
# Solution
def is_leap(year):
    leap = False
    
    # Write your logic here
    if (year%4==0): leap = True
    if (year%100==0): leap = False
    if (year%400==0): leap = True
    return leap

#### Problem 2: List Comprehensions

**Task** 

Let's learn about list comprehensions! You are given three integers **X, Y** and **Z** representing the dimensions of a cuboid along with an integer **N**. You have to print a list of all possible coordinates given by **(i,j,k)** on a 3D grid where the sum of **i+j+k** is not equal to **N**. Here, **0<=i<=X; 0<=j<=Y; 0<=k<=Z**

**Input Format**

Four integers **X, Y, Z** and **N** each on four separate lines, respectively.

**Output Format**

Print the list in lexicographic increasing order.

In [0]:
# https://www.hackerrank.com/rest/contests/master/challenges/list-comprehensions/hackers/Danlta1402/download_solution
# Solution
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())

    result = []
    for i in range(x+1):
        for j in range(y+1):
            for k in range (z+1):
                if (i+j+k != n):
                    result.append([i, j, k])
    print(result)

#### Problem 3: Find the Runner-Up Score!

**Task** 

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given **n** scores. Store them in a list and find the score of the runner-up.

**Input Format**

The first line contains **n**. The second line contains an array **A[]** of **n** integers each separated by a space.

**Output Format**

Print the runner-up score.

In [0]:
# https://www.hackerrank.com/rest/contests/master/challenges/find-second-maximum-number-in-a-list/hackers/Danlta1402/download_solution
# Solution
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    setIt = set(arr) #Convert arr to set to remove duplicated number
    listIt = list(setIt) #Convert to list and arrange it
    listIt.sort()
    print(listIt[-2]) # index -2 is the runner-up score

#### Problem 4: Nested Lists

**Task** 

Given the names and grades for each student in a Physics class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

**Input Format**

The first line contains an integer, **N**, the number of students.

The **2N** subsequent lines describe each student over **2** lines; the first line contains a student's name, and the second line contains their grade.

**Output Format**

Print the name(s) of any student(s) having the second lowest grade in Physics; if there are multiple students, order their names alphabetically and print each one on a new line.

In [0]:
# https://www.hackerrank.com/rest/contests/master/challenges/nested-list/hackers/Danlta1402/download_solution
# Solution
if __name__ == '__main__':
    students = []
    scores = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        scores.append(score)
        students.append([name, score])
    students = sorted(students, key = lambda x: x[0]) # Sort array by the first element (name), from A to Z
    secondMinVal = sorted(list(set(scores)))[1] #Find the second minimum
    respectedStudents = [name for [name, score] in students if score == secondMinVal] #Filter student's name having respected score
    for name in respectedStudents:
        print(name)

#### Problem 5: Finding the percentage

**Task** 

You have a record of **N** students. Each record contains the student's name, and their percent marks in Maths, Physics and Chemistry. The marks can be floating values. The user enters some integer **N** followed by the names and marks for **N** students. You are required to save the record in a dictionary data type. The user then enters a student's name. Output the average percentage marks obtained by that student, correct to two decimal places.

**Input Format**

The first line contains the integer **N**, the number of students. The next **N** lines contains the name and marks obtained by that student separated by a space. The final line contains the name of a particular student previously listed.

**Output Format**

Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

In [0]:
# https://www.hackerrank.com/rest/contests/master/challenges/finding-the-percentage/hackers/Danlta1402/download_solution
# Solution
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()

    Mscore, Pscore, Cscore = student_marks[query_name]
    avgscore = (Mscore + Pscore + Cscore)/3
    print("{0:.2f}".format(avgscore)) # limit floats to 2 decimal point

### SQL


#### Problem 1: Revising the Select Query II

Query the names of all American cities in **CITY** with populations larger than 120000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# https://www.hackerrank.com/rest/contests/master/challenges/revising-the-select-query-2/hackers/PRASHANTB1984/download_solution
# Solution
# SELECT name FROM city WHERE countrycode='USA' AND population>120000;


#### Problem 2: Select By ID

Query all columns for a city in **CITY** with the ID 1661.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# https://www.hackerrank.com/rest/contests/master/challenges/select-by-id/hackers/Danlta1402/download_solution
# Solution
# SELECT * FROM city WHERE id = 1661;


#### Problem 3: Japanese Cities' Attributes


Query all attributes of every Japanese city in the **CITY** table. The COUNTRYCODE for Japan is JPN.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# https://www.hackerrank.com/rest/contests/master/challenges/japanese-cities-attributes/hackers/Danlta1402/download_solution
# Solution
# SELECT * FROM city WHERE countrycode='JPN';


#### Problem 4: Japanese Cities' Attributes


Query the names of all the Japanese cities in the **CITY** table. The COUNTRYCODE for Japan is JPN.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# https://www.hackerrank.com/rest/contests/master/challenges/japanese-cities-name/hackers/Danlta1402/download_solution
# Solution
# SELECT name FROM city WHERE countrycode='JPN';


#### Problem 5: Weather Observation Station 1

Query a list of CITY and STATE from the STATION table.

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

In [0]:
# https://www.hackerrank.com/rest/contests/master/challenges/japanese-cities-name/hackers/Danlta1402/download_solution
# Solution
# SELECT city, state FROM station;